<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Airbnb Clone</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="navbar">
      <!-- Left -->
      <div class="nav-left">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/6/69/Airbnb_Logo_Bélo.svg"
          alt="airbnb"
        />
      </div>

      <!-- Center Tabs -->
      <div class="nav-center">
        <img src="./logo/house.png" alt="" />
        <div class="tab active">Homes</div>
        <img src="./logo/hot-air-balloon.png" alt="" />
        <div class="tab">Experiences</div>
        <img src="./logo/services.png" alt="" />
        <div class="tab">Services</div>
      </div>

      <!-- Right -->
      <div class="nav-right">
        <span>Become a host</span>
        <div class="icon"><img src="./logo/language.png" alt="" /></div>
        <div class="profile">☰</div>
      </div>
    </header>

    <!-- Search Bar -->
    <div class="search-wrapper">
      <div class="search-box">
        <div class="search-item">
          <label>Where</label>
          <input placeholder="Search destinations" />
        </div>

        <div class="divider"></div>

        <div class="search-item">
          <label>When</label>
          <input placeholder="Add dates" />
        </div>

        <div class="divider"></div>

        <div class="search-item">
          <label>Who</label>
          <input placeholder="Add guests" />
        </div>

        <button class="search-btn">🔍</button>
      </div>
    </div>
  </body>
</html>
