* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
}


/* Left */
.nav-left img {
  height: 32px;
}

/* Center Tabs */
.nav-center {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tab {
  font-size: 16px;
  color: #717171;
  cursor: pointer;
  position: relative;
  margin-right: 3rem;
}

img {
  height: 36px;
  display: block;
}

.tab.active {
  color: #000;
  font-weight: 600;
}

.tab.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  bottom: -8px;
  left: 0;
}

.badge {
  font-size: 10px;
  background: #1e293b;
  color: white;
  padding: 2px 6px;
  border-radius: 10px;
  margin-left: 6px;
}

/* Right */
.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon,
.profile {
  width: 36px;
  height: 36px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

/* Search Bar */
.search-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 3rem;
}

.search-box {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 999px;
  padding: 10px 12px;
  width: 850px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.search-item {
  /* flex: 1; */
  display: flex;
  flex-direction: column;

  padding: 0 20px;
}

.search-item label {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.search-item input {
  border: none;
  outline: none;
  font-size: 16px;
  color: #717171;
}

.divider {
  width: 1px;
  height: 32px;
  background: #ddd;
}

.search-btn {
  background: #ff385c;
  border: none;
  color: white;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

/* Home Page */

.main-container{
  display: flex;
  flex-direction: column;
  margin-left: 8rem;
  margin-right: 8rem;
}
.hotel {
  display: flex;
  gap: 0.1rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 1rem 1rem;
  scrollbar-width: none;
}

.card {
  position: relative;
  width: 22rem;
  padding: 1rem;
  overflow: hidden;
  background: #fff;
}

.card img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  border-radius: 2rem;
  object-fit: cover;
  display: block;
}

.fav {
  position: absolute;
  top: 2rem;
  left: 1.8rem;
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: #333;
  z-index: 10;
}

/* Hotel Page  */

.main-flex {
  padding-right: 15rem;
  padding-left: 15rem;
}

.hotel-images {
  display: flex;
}

.img0 {
  height: 24.5rem;
  width: 34;
}
.sub-hotel-images1 {
  height: 25rem;
  width: 35rem;
}

.sub-hotel-images {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.img1 {
  width: 14.5rem;
  height: 12rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}



/* footer Page  */
.footer {
  background: #fff;
  border-top: 1px solid #ddd;
  padding: 48px 80px 24px;
  font-family: Arial, sans-serif;
}

/* Top section */
.footer-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  padding-bottom: 40px;
}

.footer-col h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
}

.footer-col a {
  display: block;
  font-size: 14px;
  color: #222;
  text-decoration: none;
  margin-bottom: 12px;
}

.footer-col a:hover {
  text-decoration: underline;
}

/* Bottom bar */
.footer-bottom {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.footer-left a {
  color: #222;
  text-decoration: none;
  margin: 0 4px;
}

.footer-left a:hover {
  text-decoration: underline;
}

.footer-right {
  display: flex;
  gap: 16px;
  align-items: center;
  font-weight: 500;
}

/* Add-Hotel Page  */

 .container {
      max-width: 600px;
      background: #fff;
      padding: 20px;
      margin: 40px auto;
      border-radius: 10px;
    }
    input, button {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
    }
    h3 {
      margin-top: 20px;
    }
    button {
      background: #ff385c;
      color: #fff;
      border: none;
      cursor: pointer;
    }
